nancy-pilar-agurto/Nancy Pilar Agurto - Agente de ventas.json
{
  "name": "Nancy Pilar Agurto - Agente de ventas",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const randomId = () => {\n  const S4 = () => (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);\n  return `${S4()}${S4()}-${S4()}-${S4()}-${S4()}-${S4()}${S4()}${S4()}`;\n};\n\nvar days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];\n    \nvar months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\n\nconst timeDifference = 3;\nconst date = new Date();\nconst dateString = JSON.stringify({\n    day: days[date.getUTCDay()],\n    month: months[date.getUTCMonth()],\n    year: date.getUTCFullYear(),\n    hour: date.getUTCHours() - timeDifference,\n    minutes: date.getUTCMinutes(),\n    date: `${date.getUTCDate()}\\/${date.getUTCMonth() + 1}\\/${date.getUTCFullYear()}`\n  });\n\nconst mapResponse = $input.first().json;\n\nreturn {\n  userText: mapResponse.body,\n  fromNumber: mapResponse.from,\n  date: dateString,\n  ID: randomId()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -208
      ],
      "id": "365bc705-dcc6-41bb-bc5e-cc06d7a01763",
      "name": "Map user text"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "valentinpeluso92",
          "mode": "list",
          "cachedResultName": "valentinpeluso92",
          "cachedResultUrl": "https://github.com/valentinpeluso92"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-projects",
          "mode": "list",
          "cachedResultName": "n8n-projects",
          "cachedResultUrl": "https://github.com/valentinpeluso92/n8n-projects"
        },
        "filePath": "nancy-pilar-agurto/n8n-prompt.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        240,
        -208
      ],
      "id": "f871cdad-ad34-4b95-971c-4c5d7a09dc11",
      "name": "Get prompt",
      "webhookId": "5ead70c9-aec1-4b8f-991c-baf96d4b4a37",
      "credentials": {
        "githubApi": {
          "id": "MIdIYwYLNlstFbFk",
          "name": "Personal GitHub"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        528,
        -208
      ],
      "id": "dda1f468-8b3c-467e-92cd-4be9828b4b5e",
      "name": "Extract Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}\n\nPROMPT DEL USUARIO\n{{ $('Map user text').item.json.userText }}\n\nCURRENT DATE:\n{{ $('Map user text').item.json.date }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        912,
        -208
      ],
      "id": "add778de-baf7-456e-8e5a-59f8f749c341",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        -48
      ],
      "id": "b51ccb7d-726b-4520-9f60-4b403a03a66c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yR53pz6kmBmXxc8h",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 329391517,
          "mode": "list",
          "cachedResultName": "Ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=329391517"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        928,
        176
      ],
      "id": "598f6d7c-2401-498d-87f0-e66d00d47401",
      "name": "Obtener Ventas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1472494395,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=1472494395"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1072,
        192
      ],
      "id": "93c4637d-356c-4d3f-b6f9-a784d3290a3e",
      "name": "Obtener Pedidos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1472494395,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=1472494395"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Map user text').item.json.ID }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Descripcion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descripcion', ``, 'string') }}",
            "Creado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Creado', ``, 'string') }}",
            "Actualizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actualizado', ``, 'string') }}",
            "Resuelto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Resuelto', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actualizado",
              "displayName": "Actualizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resuelto",
              "displayName": "Resuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1216,
        160
      ],
      "id": "929bf7b4-711a-44d2-a28a-5f35b76593bf",
      "name": "Alta Pedido",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1472494395,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=1472494395"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID', ``, 'string') }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Descripcion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descripcion', ``, 'string') }}",
            "Creado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Creado', ``, 'string') }}",
            "Actualizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actualizado', ``, 'string') }}",
            "Resuelto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Resuelto', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actualizado",
              "displayName": "Actualizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resuelto",
              "displayName": "Resuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1488,
        64
      ],
      "id": "6af8c016-d829-48f6-bb28-27df8a0c969b",
      "name": "Modificacion Pedido",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 329391517,
          "mode": "list",
          "cachedResultName": "Ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=329391517"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Map user text').item.json.ID }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Productos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Productos', ``, 'string') }}",
            "Ingresos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ingresos', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Productos",
              "displayName": "Productos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresos",
              "displayName": "Ingresos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1360,
        128
      ],
      "id": "a4193de2-6674-4f83-9e64-2545afd28b2b",
      "name": "Alta  Venta",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  body: $input.first().json.messages[0].text.body,\n  from: $input.first().json.messages[0].from\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -368
      ],
      "id": "0491cd12-25d9-4e76-a540-c9c9675d0a91",
      "name": "Map text message"
    },
    {
      "parameters": {
        "jsCode": "return {\n  audio: $input.first().json.messages[0].audio,\n  from: $input.first().json.messages[0].from\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -144
      ],
      "id": "89094d40-7dcb-4e8a-ba2a-fc10c01e71e8",
      "name": "Map audio message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "50051518-9b0a-4f1d-beca-58c55d8ff5b1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "30c9bea7-73a4-48e5-a1ba-7e836a01b8f7",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1824,
        -352
      ],
      "id": "3f3dbea4-d6a3-4479-b41d-77b33f238a33",
      "name": "Message type"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        -144
      ],
      "id": "12ebc915-97bd-404d-ae34-99ede567f554",
      "name": "Get audio",
      "credentials": {
        "httpBearerAuth": {
          "id": "fUus3CYWAH2kvxtF",
          "name": "Bearer Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -768,
        -144
      ],
      "id": "45d96b81-02fc-460e-9e1a-3bb15317b927",
      "name": "Transcribe audio",
      "credentials": {
        "openAiApi": {
          "id": "J3mSmqCggTA6TgeU",
          "name": "n8n agent whatsapp"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const audioMessage = $('Map audio message').first().json;\nconst transcribeAudioResponse = $input.first().json;\n\nreturn {\n  chat_id: audioMessage.chat_id,\n  body: transcribeAudioResponse.text,\n  type: audioMessage.type,\n  from_name: audioMessage.from_name,\n  from: audioMessage.from\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -144
      ],
      "id": "83c8451b-b37a-4226-b9ca-5321b5aa1a5a",
      "name": "Map Audio Response"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "773137852553545",
        "recipientPhoneNumber": "={{ $('Map user text').item.json.fromNumber }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1360,
        -208
      ],
      "id": "54d10fd3-7abf-4723-b84d-c41efcb33f22",
      "name": "Send message",
      "webhookId": "55e22cb7-1393-445f-bdb8-0df3e1739d47",
      "credentials": {
        "whatsAppApi": {
          "id": "hllUIUdteQ3qbytI",
          "name": "Nancy Pilar Agurto - Enviar Mensaje"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        -352
      ],
      "id": "7396a2fc-e0a3-418f-9169-25a6272ed9d5",
      "name": "Recibir WhatsApp",
      "webhookId": "2c880a5e-aee1-4fad-baf9-da83a72832f6",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "W7Vv7WsTsslXQC9O",
          "name": "Nancy Pilar Agurto - Recibir Mensaje"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1216,
        -144
      ],
      "id": "c43f0f75-8c7a-44c8-8166-54ba19081bf6",
      "name": "Download media",
      "webhookId": "3e154b56-3036-4ea7-a141-bee034ebde87",
      "credentials": {
        "whatsAppApi": {
          "id": "yUoAsdMbJkMFoOZT",
          "name": "Autopia - Enviar mensaje"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente\n",
        "height": 1264,
        "width": 2032
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -560
      ],
      "typeVersion": 1,
      "id": "89ea61c3-6eb8-48bf-99ab-c94e1bdf78d6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a94599d-4063-41e6-b10d-9f4284397632",
              "leftValue": "={{ $json.messages[0].from }}",
              "rightValue": "5492215250112",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2048,
        -352
      ],
      "id": "6f032b38-eba1-429f-90eb-14117b01be93",
      "name": "Numbers Available"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=nancy-pilar-agurto-{{ $('Map user text').item.json.fromNumber }}",
        "tableName": "=nancy_pilar_agurto_n8n_chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        848,
        16
      ],
      "id": "a85c3216-da3b-4281-9127-709909de7d4d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "f13IqtERALBVGYfM",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Map user text": {
      "main": [
        [
          {
            "node": "Get prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt": {
      "main": [
        [
          {
            "node": "Extract Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Ventas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Pedidos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Alta Pedido": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificacion Pedido": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Alta  Venta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Map text message": {
      "main": [
        [
          {
            "node": "Map user text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message type": {
      "main": [
        [
          {
            "node": "Map text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map audio message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map audio message": {
      "main": [
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio": {
      "main": [
        [
          {
            "node": "Transcribe audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio": {
      "main": [
        [
          {
            "node": "Map Audio Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Audio Response": {
      "main": [
        [
          {
            "node": "Map user text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir WhatsApp": {
      "main": [
        [
          {
            "node": "Numbers Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "Get audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Numbers Available": {
      "main": [
        [
          {
            "node": "Message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97f76ac2-7720-4b77-ab96-c385e27ea115",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "914667f379206fe8d083188e17e5e435f986c59ab32d558e4d2d7255afc38315"
  },
  "id": "LRYpWLmnOsYBXzY3",
  "tags": [
    {
      "createdAt": "2025-09-26T16:29:58.595Z",
      "updatedAt": "2025-09-26T16:29:58.595Z",
      "id": "V7e6JxndFWlVnFiB",
      "name": "Autopia"
    },
    {
      "createdAt": "2025-09-26T16:30:55.226Z",
      "updatedAt": "2025-09-26T16:30:55.226Z",
      "id": "hl93XjaQfewMAQV4",
      "name": "Prod"
    }
  ]
}