nancy-pilar-agurto/Sbox - Nancy Pilar Agurto - Agente de ventas.json
{
  "name": "Sbox - Nancy Pilar Agurto - Agente de ventas",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const randomId = () => {\n  const S4 = () => (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);\n  return `${S4()}${S4()}-${S4()}-${S4()}-${S4()}-${S4()}${S4()}${S4()}`;\n};\n\nvar days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];\n    \nvar months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\n\nconst timeDifference = 3;\nconst date = new Date();\nconst dateString = JSON.stringify({\n    day: days[date.getUTCDay()],\n    month: months[date.getUTCMonth()],\n    year: date.getUTCFullYear(),\n    hour: date.getUTCHours() - timeDifference,\n    minutes: date.getUTCMinutes(),\n    date: `${date.getUTCDate()}\\/${date.getUTCMonth() + 1}\\/${date.getUTCFullYear()}`\n  });\n\nconst mapResponse = $input.first().json;\n\nreturn {\n  userText: mapResponse.body,\n  fromNumber: mapResponse.from,\n  date: dateString,\n  ID: randomId()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        -288
      ],
      "id": "b4240545-dd1e-4312-84fe-70e874603e51",
      "name": "Map user text"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "valentinpeluso92",
          "mode": "list",
          "cachedResultName": "valentinpeluso92",
          "cachedResultUrl": "https://github.com/valentinpeluso92"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-projects",
          "mode": "list",
          "cachedResultName": "n8n-projects",
          "cachedResultUrl": "https://github.com/valentinpeluso92/n8n-projects"
        },
        "filePath": "nancy-pilar-agurto/n8n-prompt.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1024,
        -288
      ],
      "id": "777116dc-fa31-4bcd-ac0b-dd9ffaafcaaf",
      "name": "Get prompt",
      "webhookId": "8c13ff5f-1002-45cf-aa72-bd968d52c7eb",
      "credentials": {
        "githubApi": {
          "id": "MIdIYwYLNlstFbFk",
          "name": "Personal GitHub"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -800,
        -288
      ],
      "id": "932e2422-f240-4345-ad97-cc7ba4e78837",
      "name": "Extract Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}\n\nPROMPT DEL USUARIO\n{{ $('Map user text').item.json.userText }}\n\nCURRENT DATE:\n{{ $('Map user text').item.json.date }}\n\nCHAT ID:\n{{ $('Map user text').item.json.chatId }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -496,
        -288
      ],
      "id": "0de75bf7-9f9f-464f-8753-ab5aff601627",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1136,
        32
      ],
      "id": "efe1fb61-980a-4375-9926-48001113f75b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yR53pz6kmBmXxc8h",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Recibir WhatsApp').item.json.metadata.phone_number_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1024,
        176
      ],
      "id": "44c6c439-8cbc-4d4a-b64c-3e5229d13aa7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto (Sbox)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Productos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -816,
        224
      ],
      "id": "64d0bb64-ecf2-4039-bb4b-0b2344ae47f9",
      "name": "Obtener Productos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto (Sbox)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 329391517,
          "mode": "list",
          "cachedResultName": "Ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit#gid=329391517"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -656,
        272
      ],
      "id": "e04838f8-eb12-49b5-859e-4d374bda5ea5",
      "name": "Obtener Ventas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto (Sbox)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1472494395,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit#gid=1472494395"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -496,
        304
      ],
      "id": "02cb6f07-db85-41d0-8616-3dcce314126e",
      "name": "Obtener Pedidos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto (Sbox)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Productos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}",
            "Descripcion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descripcion', ``, 'string') }}",
            "Tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo', ``, 'string') }}",
            "Cantidad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cantidad', ``, 'string') }}",
            "Precio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Precio', ``, 'string') }}",
            "Talle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Talle', ``, 'string') }}",
            "Marca": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}",
            "Creado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Creado', ``, 'string') }}",
            "Actualizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actualizado', ``, 'string') }}",
            "Eliminado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Eliminado', ``, 'string') }}",
            "ID": "={{ $('Map user text').item.json.ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cantidad",
              "displayName": "Cantidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Precio",
              "displayName": "Precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Talle",
              "displayName": "Talle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Marca",
              "displayName": "Marca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actualizado",
              "displayName": "Actualizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eliminado",
              "displayName": "Eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -16,
        208
      ],
      "id": "0021e5a1-ae85-47e1-90ca-87f66cabaf28",
      "name": "Alta Producto",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto (Sbox)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Productos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID__using_to_match_', ``, 'string') }}",
            "Nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}",
            "Descripcion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descripcion', ``, 'string') }}",
            "Tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo', ``, 'string') }}",
            "Cantidad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cantidad', ``, 'string') }}",
            "Precio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Precio', ``, 'string') }}",
            "Talle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Talle', ``, 'string') }}",
            "Marca": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}",
            "Creado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Creado', ``, 'string') }}",
            "Actualizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actualizado', ``, 'string') }}",
            "Eliminado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Eliminado', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cantidad",
              "displayName": "Cantidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Precio",
              "displayName": "Precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Talle",
              "displayName": "Talle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Marca",
              "displayName": "Marca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actualizado",
              "displayName": "Actualizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eliminado",
              "displayName": "Eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        384,
        32
      ],
      "id": "7842215e-9e3f-4b27-b33b-9b6baacfc8f0",
      "name": "Modificacion Producto",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto (Sbox)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1472494395,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=1472494395"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Map user text').item.json.ID }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Descripcion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descripcion', ``, 'string') }}",
            "Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente', ``, 'string') }}",
            "Creado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Creado', ``, 'string') }}",
            "Actualizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actualizado', ``, 'string') }}",
            "Resuelto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Resuelto', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actualizado",
              "displayName": "Actualizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resuelto",
              "displayName": "Resuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -336,
        304
      ],
      "id": "23967aba-5787-499f-8ac6-5b41c2c1ede1",
      "name": "Alta Pedido",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto (Sbox)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1472494395,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=1472494395"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID', ``, 'string') }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Descripcion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descripcion', ``, 'string') }}",
            "Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente', ``, 'string') }}",
            "Creado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Creado', ``, 'string') }}",
            "Actualizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actualizado', ``, 'string') }}",
            "Resuelto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Resuelto', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actualizado",
              "displayName": "Actualizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resuelto",
              "displayName": "Resuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        128,
        176
      ],
      "id": "fe596912-b1af-400a-91b4-650fb5eedc64",
      "name": "Modificacion Pedido",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto (Sbox)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 329391517,
          "mode": "list",
          "cachedResultName": "Ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=329391517"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Map user text').item.json.ID }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Productos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Productos', ``, 'string') }}",
            "Ingresos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ingresos', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Productos",
              "displayName": "Productos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresos",
              "displayName": "Ingresos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -176,
        256
      ],
      "id": "160a779d-9001-4abf-badc-aa93ecf88e51",
      "name": "Alta  Venta",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU",
          "mode": "list",
          "cachedResultName": "Nancy Pilar Agurto (Sbox)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uzicmC0bbaWLo2FiExc1wyTq0txUPfMorwn8bH4CHZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 329391517,
          "mode": "list",
          "cachedResultName": "Ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWoQlpi3YtJyBXsrDrwLeu2mzz7EAiXtXKs7PpTZa70/edit#gid=329391517"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID', ``, 'string') }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Productos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Productos', ``, 'string') }}",
            "Ingresos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ingresos', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Productos",
              "displayName": "Productos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresos",
              "displayName": "Ingresos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        272,
        112
      ],
      "id": "b7067a71-103c-461c-a6ff-a60d3799ffbc",
      "name": "Modificacion Venta",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a94599d-4063-41e6-b10d-9f4284397632",
              "leftValue": "={{ $json.messages[0].from }}",
              "rightValue": "5492214942770",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2592,
        -304
      ],
      "id": "64d38dd2-b702-4fbf-b05e-8ade3a82bdfc",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "return {\n  body: $input.first().json.messages[0].text.body,\n  from: $input.first().json.messages[0].from\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        -400
      ],
      "id": "7d808235-b237-489e-9455-3935e60d50e8",
      "name": "Map text message"
    },
    {
      "parameters": {
        "jsCode": "return {\n  audio: $input.first().json.messages[0].audio,\n  from: $input.first().json.messages[0].from\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        -224
      ],
      "id": "e698b172-c84a-4085-9c2e-f23830a4a0e7",
      "name": "Map audio message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "50051518-9b0a-4f1d-beca-58c55d8ff5b1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "30c9bea7-73a4-48e5-a1ba-7e836a01b8f7",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2416,
        -304
      ],
      "id": "430d9252-9edf-4f3c-9513-390c27a56d73",
      "name": "Message type"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        -224
      ],
      "id": "9b45430a-5abc-4d20-a843-5175dc46e5d7",
      "name": "Get audio",
      "credentials": {
        "httpBearerAuth": {
          "id": "fUus3CYWAH2kvxtF",
          "name": "Bearer Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1664,
        -224
      ],
      "id": "6a0cb83d-cb4b-466a-8473-9d6ebbfc4237",
      "name": "Transcribe audio",
      "credentials": {
        "openAiApi": {
          "id": "J3mSmqCggTA6TgeU",
          "name": "n8n agent whatsapp"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const audioMessage = $('Map audio message').first().json;\nconst transcribeAudioResponse = $input.first().json;\n\nreturn {\n  chat_id: audioMessage.chat_id,\n  body: transcribeAudioResponse.text,\n  type: audioMessage.type,\n  from_name: audioMessage.from_name,\n  from: audioMessage.from\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        -224
      ],
      "id": "c485a71f-fa74-4034-8bd0-1bd4243b6166",
      "name": "Map Audio Response"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "773137852553545",
        "recipientPhoneNumber": "={{ $('Map user text').item.json.fromNumber }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -32,
        -288
      ],
      "id": "119fe922-5eae-4af5-9e15-21cae17b7e18",
      "name": "Send message",
      "webhookId": "f91a09be-a798-49e4-9ee2-ffdc21b2f9b9",
      "credentials": {
        "whatsAppApi": {
          "id": "yUoAsdMbJkMFoOZT",
          "name": "Enviar mensaje"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2784,
        -304
      ],
      "id": "384cff17-771b-46be-9513-6aae892c0848",
      "name": "Recibir WhatsApp",
      "webhookId": "3c0e2003-e89b-4c59-bfe5-419dc5587cf4",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Iruml7BBCdGyGXkt",
          "name": "Recibir Mensaje"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2016,
        -224
      ],
      "id": "6bed4290-1ba2-472a-8495-8c73b787551c",
      "name": "Download media",
      "webhookId": "bae1fd0a-d096-4048-b406-e8f4b4117573",
      "credentials": {
        "whatsAppApi": {
          "id": "yUoAsdMbJkMFoOZT",
          "name": "Enviar mensaje"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Map user text": {
      "main": [
        [
          {
            "node": "Get prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt": {
      "main": [
        [
          {
            "node": "Extract Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Productos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Ventas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Pedidos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Alta Producto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificacion Producto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Alta Pedido": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificacion Pedido": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Alta  Venta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificacion Venta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map text message": {
      "main": [
        [
          {
            "node": "Map user text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message type": {
      "main": [
        [
          {
            "node": "Map text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map audio message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map audio message": {
      "main": [
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio": {
      "main": [
        [
          {
            "node": "Transcribe audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio": {
      "main": [
        [
          {
            "node": "Map Audio Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Audio Response": {
      "main": [
        [
          {
            "node": "Map user text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir WhatsApp": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "Get audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "62cb97b9-ca0e-415d-adb7-4f7957eec1ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "914667f379206fe8d083188e17e5e435f986c59ab32d558e4d2d7255afc38315"
  },
  "id": "DQ0vdyYScFdcHOLO",
  "tags": [
    {
      "createdAt": "2025-09-26T16:30:03.321Z",
      "updatedAt": "2025-09-26T16:30:03.321Z",
      "id": "TI6mB3GZwNS1U5T5",
      "name": "Sbox"
    },
    {
      "createdAt": "2025-09-26T16:29:58.595Z",
      "updatedAt": "2025-09-26T16:29:58.595Z",
      "id": "V7e6JxndFWlVnFiB",
      "name": "Autopia"
    }
  ]
}