zoovital/Zoovital.json
{
  "name": "Zoovital",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const randomId = () => {\n  const S4 = () => (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);\n  return `${S4()}${S4()}-${S4()}-${S4()}-${S4()}-${S4()}${S4()}${S4()}`;\n};\n\nconst getVet = (fromNumber) => {\n  const strategy = {\n    5492214942770: 'Ema',\n    5492215940000: 'Fede'\n  }\n  return strategy[fromNumber];\n}\n\nvar days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];\n    \nvar months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\n\nconst timeDifference = 3;\nconst date = new Date();\nconst dateString = JSON.stringify({\n    day: days[date.getUTCDay()],\n    month: months[date.getUTCMonth()],\n    year: date.getUTCFullYear(),\n    hour: date.getUTCHours() - timeDifference,\n    minutes: date.getUTCMinutes(),\n    date: `${date.getUTCDate()}\\/${date.getUTCMonth() + 1}\\/${date.getUTCFullYear()}`\n  });\n\nconst mapResponse = $input.first().json;\n\nconst vet = getVet(mapResponse.from)\n\nreturn {\n  userText: mapResponse.body,\n  fromNumber: mapResponse.from,\n  date: dateString,\n  ID: randomId(),\n  vet\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        32
      ],
      "id": "a403a2c5-97a1-4962-89c0-a0671bbbda95",
      "name": "Map user text"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "valentinpeluso92",
          "mode": "list",
          "cachedResultName": "valentinpeluso92",
          "cachedResultUrl": "https://github.com/valentinpeluso92"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-projects",
          "mode": "list",
          "cachedResultName": "n8n-projects",
          "cachedResultUrl": "https://github.com/valentinpeluso92/n8n-projects"
        },
        "filePath": "zoovital/n8n-prompt.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        368,
        32
      ],
      "id": "8dfa65bb-3465-47b7-bf80-8d29ac8a5093",
      "name": "Get prompt",
      "webhookId": "f03eacb4-e584-4210-ba9d-73672dc690fd",
      "credentials": {
        "githubApi": {
          "id": "MIdIYwYLNlstFbFk",
          "name": "Personal GitHub"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        592,
        32
      ],
      "id": "5c09e5c7-56a1-4c68-a39e-5c528db42918",
      "name": "Extract Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}\n\nPROMPT DEL USUARIO\n{{ $('Map user text').item.json.userText }}\n\nCURRENT DATE:\n{{ $('Map user text').item.json.date }}\n\nVETERINARIO:\n{{ $('Map user text').item.json.vet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        896,
        32
      ],
      "id": "7cf01892-8c25-431d-a115-bf0f8ffb0370",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        368
      ],
      "id": "b1893a32-75e7-4a74-8576-bf85bec31fda",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yR53pz6kmBmXxc8h",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a94599d-4063-41e6-b10d-9f4284397632",
              "leftValue": "={{ $json.messages[0].from }}",
              "rightValue": "5492281662808|5492215940000",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1200,
        16
      ],
      "id": "53522920-11bf-4af0-8e48-74aa54c051b1",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "return {\n  body: $input.first().json.messages[0].text.body,\n  from: $input.first().json.messages[0].from\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -80
      ],
      "id": "6128f68e-5ede-4eba-b3a1-efbfdda52488",
      "name": "Map text message"
    },
    {
      "parameters": {
        "jsCode": "return {\n  audio: $input.first().json.messages[0].audio,\n  from: $input.first().json.messages[0].from\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        96
      ],
      "id": "28d8ece0-2b27-4852-8cbe-e8525731a1ce",
      "name": "Map audio message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "50051518-9b0a-4f1d-beca-58c55d8ff5b1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "30c9bea7-73a4-48e5-a1ba-7e836a01b8f7",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1024,
        16
      ],
      "id": "9a3d9a1e-a406-49f2-90b5-361c3fdea5c8",
      "name": "Message type"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        96
      ],
      "id": "06730620-53f5-4b88-ad17-4d87d8548414",
      "name": "Get audio",
      "credentials": {
        "httpBearerAuth": {
          "id": "fUus3CYWAH2kvxtF",
          "name": "Bearer Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -272,
        96
      ],
      "id": "2f36efae-91ed-4355-a2d7-76ca0c60ee84",
      "name": "Transcribe audio",
      "credentials": {
        "openAiApi": {
          "id": "J3mSmqCggTA6TgeU",
          "name": "n8n agent whatsapp"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const audioMessage = $('Map audio message').first().json;\nconst transcribeAudioResponse = $input.first().json;\n\nreturn {\n  chat_id: audioMessage.chat_id,\n  body: transcribeAudioResponse.text,\n  type: audioMessage.type,\n  from_name: audioMessage.from_name,\n  from: audioMessage.from\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        96
      ],
      "id": "8fa45db4-caa7-444b-8be5-f63c395e7ebd",
      "name": "Map Audio Response"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "773137852553545",
        "recipientPhoneNumber": "={{ $('Map user text').item.json.fromNumber }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1264,
        32
      ],
      "id": "3269b261-3b8d-4f89-961b-f98e43b9206c",
      "name": "Send message",
      "webhookId": "2c2dfb9b-4bae-4901-9408-221edb0046c9",
      "credentials": {
        "whatsAppApi": {
          "id": "rUcJqDxJzwWGGIRD",
          "name": "Zoovital - Enviar Mensaje"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1392,
        16
      ],
      "id": "99d6b94a-695e-4545-a380-7804d96e527c",
      "name": "Recibir WhatsApp",
      "webhookId": "c59d3ee1-e8c5-4861-8de4-73cd934e32e8",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "BI42jrVs1v02SEdv",
          "name": "Zoovital - Recibir Mensaje"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -624,
        96
      ],
      "id": "87613b3e-71a0-4c5d-9da4-241d6cabb296",
      "name": "Download media",
      "webhookId": "c78c73df-c249-4036-b6be-d3b14f7bfb6a",
      "credentials": {
        "whatsAppApi": {
          "id": "yUoAsdMbJkMFoOZT",
          "name": "Autopia - Enviar mensaje"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM",
          "mode": "list",
          "cachedResultName": "Zoovital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Turnos Fisioterapia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        720,
        560
      ],
      "id": "e18013f7-c4d4-49b9-ad37-f4611ffa4afd",
      "name": "Obtener Turnos Fisio",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM",
          "mode": "list",
          "cachedResultName": "Zoovital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Turnos Fisioterapia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNIlMG7SHIXUiphb5raDOV6xKraJvbf3011ko8qmXXo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Creado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Creado', ``, 'string') }}",
            "Actualizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actualizado', ``, 'string') }}",
            "Eliminado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Eliminado', ``, 'string') }}",
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID', ``, 'string') }}",
            "Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente', ``, 'string') }}",
            "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', ``, 'string') }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actualizado",
              "displayName": "Actualizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eliminado",
              "displayName": "Eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        864,
        624
      ],
      "id": "9fff868a-d302-4315-8653-1e9311e40e6d",
      "name": "Alta Turnos Fisio",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM",
          "mode": "list",
          "cachedResultName": "Zoovital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Turnos Fisioterapia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNIlMG7SHIXUiphb5raDOV6xKraJvbf3011ko8qmXXo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID__using_to_match_', ``, 'string') }}",
            "Creado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Creado', ``, 'string') }}",
            "Actualizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actualizado', ``, 'string') }}",
            "Eliminado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Eliminado', ``, 'string') }}",
            "row_number": 0,
            "Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente', ``, 'string') }}",
            "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', ``, 'string') }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actualizado",
              "displayName": "Actualizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eliminado",
              "displayName": "Eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1008,
        672
      ],
      "id": "3790bff6-961e-4c46-bfc8-84b65d71d5f8",
      "name": "Modificacion Turnos Fisio",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=zoovital-{{ $('Map user text').item.json.fromNumber }}",
        "tableName": "zoovital_n8n_chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        544,
        496
      ],
      "id": "b49fc792-0fb8-4b12-9392-44b1abd69eda",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "f13IqtERALBVGYfM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM",
          "mode": "list",
          "cachedResultName": "Zoovital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 543127796,
          "mode": "list",
          "cachedResultName": "Domicilios Fisioterapia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM/edit#gid=543127796"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1184,
        672
      ],
      "id": "700b7fb0-c09d-46d0-8ee1-54f223455dcd",
      "name": "Domicilio Obtener Turnos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM",
          "mode": "list",
          "cachedResultName": "Zoovital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1532952460,
          "mode": "list",
          "cachedResultName": "Domicilios Fisioterapia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNIlMG7SHIXUiphb5raDOV6xKraJvbf3011ko8qmXXo/edit#gid=1532952460"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente', ``, 'string') }}",
            "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', ``, 'string') }}",
            "Direccion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Direccion', ``, 'string') }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Creado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Creado', ``, 'string') }}",
            "Actualizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actualizado', ``, 'string') }}",
            "Eliminado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Eliminado', ``, 'string') }}",
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID', ``, 'string') }}",
            "Veterinario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Veterinario', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Veterinario",
              "displayName": "Veterinario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Direccion",
              "displayName": "Direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actualizado",
              "displayName": "Actualizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eliminado",
              "displayName": "Eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1360,
        640
      ],
      "id": "bd762575-2535-4423-b905-087633c2f6e5",
      "name": "Domicilio Alta Turno",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM",
          "mode": "list",
          "cachedResultName": "Zoovital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19lTrD1r4U3dVTEjONEeW3DwghupH2bbXZBoKYC5gdiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1532952460,
          "mode": "list",
          "cachedResultName": "Domicilios Fisioterapia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNIlMG7SHIXUiphb5raDOV6xKraJvbf3011ko8qmXXo/edit#gid=1532952460"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID__using_to_match_', ``, 'string') }}",
            "Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente', ``, 'string') }}",
            "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', ``, 'string') }}",
            "Direccion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Direccion', ``, 'string') }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Creado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Creado', ``, 'string') }}",
            "Actualizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actualizado', ``, 'string') }}",
            "Eliminado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Eliminado', ``, 'string') }}",
            "Veterinario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Veterinario', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Veterinario",
              "displayName": "Veterinario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Direccion",
              "displayName": "Direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actualizado",
              "displayName": "Actualizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eliminado",
              "displayName": "Eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1504,
        528
      ],
      "id": "8da434cb-aab0-498d-9c75-20c5399124bb",
      "name": "Domicilio Modificacion Turno",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1oERU72F70WKHmb",
          "name": "Autopia"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Map user text": {
      "main": [
        [
          {
            "node": "Get prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt": {
      "main": [
        [
          {
            "node": "Extract Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map text message": {
      "main": [
        [
          {
            "node": "Map user text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map audio message": {
      "main": [
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message type": {
      "main": [
        [
          {
            "node": "Map text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map audio message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio": {
      "main": [
        [
          {
            "node": "Transcribe audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio": {
      "main": [
        [
          {
            "node": "Map Audio Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Audio Response": {
      "main": [
        [
          {
            "node": "Map user text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir WhatsApp": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "Get audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Turnos Fisio": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Alta Turnos Fisio": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificacion Turnos Fisio": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Domicilio Obtener Turnos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Domicilio Alta Turno": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Domicilio Modificacion Turno": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bfa8a1be-8fb8-4f66-bd21-619eb06d185a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "914667f379206fe8d083188e17e5e435f986c59ab32d558e4d2d7255afc38315"
  },
  "id": "g8buR80TU6IrHDnb",
  "tags": [
    {
      "createdAt": "2025-09-26T16:29:58.595Z",
      "updatedAt": "2025-09-26T16:29:58.595Z",
      "id": "V7e6JxndFWlVnFiB",
      "name": "Autopia"
    },
    {
      "createdAt": "2025-09-26T16:30:55.226Z",
      "updatedAt": "2025-09-26T16:30:55.226Z",
      "id": "hl93XjaQfewMAQV4",
      "name": "Prod"
    }
  ]
}